<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
<style>
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* -----------------------------헤더-----------------------------*/
/* 맨위에 헤더  */
</style>

    <!--  구글 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

<!-- 검색 돋보기 아이콘 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="matcat">
        <header id="matcat-header">
        <h1><a id="matcat-logoname" href="UI_MAIN_001.html"><img src="../../../static/image/matcatlogo.png"></a></h1>
        <nav>
            <ul id="header-nav">
                <li><a href="UI_MAIN_001.html">홈</a></li>
                <li><a href="UI_MAIN_002.html">상품목록</a></li>
                <li><a href="UI_HELP_001.html">고객센터</a></li>
                <li><a href="UI_MPG_001.html">마이페이지</a></li>
                <li id="search-box">
                    <form action="." method="post">
                      <input id="search-txt" type="text" placeholder="검색...">
                      <button class="search-btn" type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </form>
                  </li>
                <li><a href="UI_JOIN_002.html">로그인</a></li>
                <a id="jangi" href="UI_MAIN_004.html"><img src="../../../static/image/장바구니아이콘.png" value="1"></a>
            </ul>
        </nav>
        </header>

</body>
</html>