DROP TABLE TBL_ACCOUNT;

CREATE TABLE TBL_ACCOUNT
(
    MEMBER_NO    NUMBER(10) NOT NULL,
    MEMBER_ID    VARCHAR2(50) NOT NULL,
    MEMBER_PWD    VARCHAR2(50) NOT NULL,
    MEMBER_NAME    VARCHAR2(10) NOT NULL,
    MEMBER_EMAIL    VARCHAR2(50) NOT NULL,
    MEMBER_GENDER    CHAR(5) NOT NULL,
    MEMBER_PHONE    VARCHAR2(50) NOT NULL,
    MEMBER_ADDRESS    VARCHAR2(50) NOT NULL,
    MEMBER_LEAVE_YN    CHAR(1) NOT NULL,
    MEMBER_GRADE    VARCHAR2(5) NOT NULL,
    MEMBER_LEAVE_REASON    VARCHAR2(50)
);

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_ID IS '아이디';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_PWD IS '비밀번호';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_NAME IS '이름';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_EMAIL IS '이메일';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_GENDER IS '성별';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_PHONE IS '전화번호';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_ADDRESS IS '주소';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_LEAVE_YN IS '상태';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_GRADE IS '구분';

COMMENT ON COLUMN TBL_ACCOUNT.MEMBER_LEAVE_REASON IS '탈퇴 사유';

COMMENT ON TABLE TBL_ACCOUNT IS '계정';

ALTER TABLE TBL_ACCOUNT
 ADD CONSTRAINT PK_TBL_ACCOUNT PRIMARY KEY ( MEMBER_NO )
 USING INDEX PK_TBL_ACCOUNT;


DROP TABLE TBL_ALLERGY;

CREATE TABLE TBL_ALLERGY
(
    ALLERGY_NAME    VARCHAR2(10) NOT NULL,
    ALLERGY_CODE    NUMBER(3) NOT NULL
);

COMMENT ON COLUMN TBL_ALLERGY.ALLERGY_NAME IS '알러지명';

COMMENT ON COLUMN TBL_ALLERGY.ALLERGY_CODE IS '알러지 코드';

COMMENT ON TABLE TBL_ALLERGY IS '알러지분류';

ALTER TABLE TBL_ALLERGY
 ADD CONSTRAINT PK_TBL_ALLERGY PRIMARY KEY ( ALLERGY_CODE )
 USING INDEX PK_TBL_ALLERGY;


DROP TABLE TBL_AUTH_MEMBER;

CREATE TABLE TBL_AUTH_MEMBER
(
    MEMBER_NO    NUMBER(10) NOT NULL,
    AUTH_CODE    NUMBER(10) NOT NULL
);

COMMENT ON COLUMN TBL_AUTH_MEMBER.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_AUTH_MEMBER.AUTH_CODE IS '권한 코드';

COMMENT ON TABLE TBL_AUTH_MEMBER IS '회원 별 권한';

ALTER TABLE TBL_AUTH_MEMBER
 ADD CONSTRAINT PK_TBL_AUTH_MEMBER PRIMARY KEY ( MEMBER_NO,AUTH_CODE )
 USING INDEX PK_TBL_AUTH_MEMBER;


DROP TABLE TBL_AUTHORITY;

CREATE TABLE TBL_AUTHORITY
(
    AUTH_CODE    NUMBER(10) NOT NULL,
    AUTH_NAME    VARCHAR2(10) NOT NULL,
    AUTH_EXPLATION    VARCHAR2(20) NOT NULL
);

COMMENT ON COLUMN TBL_AUTHORITY.AUTH_CODE IS '권한 코드';

COMMENT ON COLUMN TBL_AUTHORITY.AUTH_NAME IS '권한 명';

COMMENT ON COLUMN TBL_AUTHORITY.AUTH_EXPLATION IS '권한 설명';

COMMENT ON TABLE TBL_AUTHORITY IS '권한';

ALTER TABLE TBL_AUTHORITY
 ADD CONSTRAINT PK_TBL_AUTHORITY PRIMARY KEY ( AUTH_CODE )
 USING INDEX PK_TBL_AUTHORITY;


DROP TABLE TBL_CART;

CREATE TABLE TBL_CART
(
    MEMBER_NO    NUMBER(10) NOT NULL,
    PRD_CODE    NUMBER(10) NOT NULL,
    QUANTITY    NUMBER(5) NOT NULL
);

COMMENT ON COLUMN TBL_CART.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_CART.PRD_CODE IS '상품 코드';

COMMENT ON COLUMN TBL_CART.QUANTITY IS '수량';

COMMENT ON TABLE TBL_CART IS '장바구니';

ALTER TABLE TBL_CART
 ADD CONSTRAINT PK_TBL_CART PRIMARY KEY ( MEMBER_NO,PRD_CODE )
 USING INDEX PK_TBL_CART;


DROP TABLE TBL_CATEGORY;

CREATE TABLE TBL_CATEGORY
(
    CATEGORY_CODE    NUMBER(3) NOT NULL,
    CATEGORY_NAME    VARCHAR2(10) NOT NULL
);

COMMENT ON COLUMN TBL_CATEGORY.CATEGORY_CODE IS '카테고리 코드';

COMMENT ON COLUMN TBL_CATEGORY.CATEGORY_NAME IS '카테고리 이름';

COMMENT ON TABLE TBL_CATEGORY IS '카테고리';

ALTER TABLE TBL_CATEGORY
 ADD CONSTRAINT PK_TBL_CATEGORY PRIMARY KEY ( CATEGORY_CODE )
 USING INDEX PK_TBL_CATEGORY;


DROP TABLE TBL_DELIVERY;

CREATE TABLE TBL_DELIVERY
(
    INVOICE_NUM    NUMBER(10),
    SHIP_ADDRESS    VARCHAR2(100) NOT NULL,
    SHIP_CHARGE    NUMBER(10) NOT NULL,
    RECIPIENT_NAME    VARCHAR2(10) NOT NULL,
    RECIPIENT_PHONE    VARCHAR2(20) NOT NULL,
    ORD_CODE    NUMBER(10) NOT NULL
);

COMMENT ON COLUMN TBL_DELIVERY.INVOICE_NUM IS '송장번호';

COMMENT ON COLUMN TBL_DELIVERY.SHIP_ADDRESS IS '배송주소';

COMMENT ON COLUMN TBL_DELIVERY.SHIP_CHARGE IS '배송비';

COMMENT ON COLUMN TBL_DELIVERY.RECIPIENT_NAME IS '수령인';

COMMENT ON COLUMN TBL_DELIVERY.RECIPIENT_PHONE IS '수령연락처';

COMMENT ON COLUMN TBL_DELIVERY.ORD_CODE IS '주문코드';

COMMENT ON TABLE TBL_DELIVERY IS '배송';

ALTER TABLE TBL_DELIVERY
 ADD CONSTRAINT PK_TBL_DELIVERY PRIMARY KEY ( ORD_CODE )
 USING INDEX PK_TBL_DELIVERY;


DROP TABLE TBL_FILES;

CREATE TABLE TBL_FILES
(
    FILE_PATH    VARCHAR2(1000) NOT NULL,
    FILE_SIZE    NUMBER(20) NOT NULL,
    FILE_UPLOAD_DATE    DATE NOT NULL,
    FILE_ORIGIN_NAME    VARCHAR2(100) NOT NULL,
    FILE_SAVED_NAME    VARCHAR2(100) NOT NULL,
    FILE_TYPE    VARCHAR2(20) NOT NULL,
    FILE_TITLE_IMG_YN    CHAR(1),
    POST_CODE    NUMBER(10),
    REV_CODE    NUMBER(10),
    INQ_CODE    NUMBER(20),
    PRD_CODE    NUMBER(20) NOT NULL,
    FILE_IMG_CODE    NUMBER(20) NOT NULL
);

COMMENT ON COLUMN TBL_FILES.FILE_PATH IS '파일 경로';

COMMENT ON COLUMN TBL_FILES.FILE_SIZE IS '크기';

COMMENT ON COLUMN TBL_FILES.FILE_UPLOAD_DATE IS '업로드 시간';

COMMENT ON COLUMN TBL_FILES.FILE_ORIGIN_NAME IS '원본파일명';

COMMENT ON COLUMN TBL_FILES.FILE_SAVED_NAME IS '저장된 파일명';

COMMENT ON COLUMN TBL_FILES.FILE_TYPE IS '구분';

COMMENT ON COLUMN TBL_FILES.FILE_TITLE_IMG_YN IS '대표이미지';

COMMENT ON COLUMN TBL_FILES.POST_CODE IS '게시글 코드';

COMMENT ON COLUMN TBL_FILES.REV_CODE IS '리뷰코드';

COMMENT ON COLUMN TBL_FILES.INQ_CODE IS '문의 코드';

COMMENT ON COLUMN TBL_FILES.PRD_CODE IS '상품 코드';

COMMENT ON COLUMN TBL_FILES.FILE_IMG_CODE IS '이미지코드';

COMMENT ON TABLE TBL_FILES IS '첨부파일';

ALTER TABLE TBL_FILES
 ADD CONSTRAINT PK_TBL_FILES PRIMARY KEY ( FILE_IMG_CODE )
 USING INDEX PK_TBL_FILES;


DROP TABLE TBL_NOTICE;

CREATE TABLE TBL_NOTICE
(
    POST_CODE    NUMBER(10) NOT NULL,
    POST_TITLE    VARCHAR2(100) NOT NULL,
    POST_CONTENT    VARCHAR2(4000) NOT NULL,
    REPORT_DATE    DATE NOT NULL,
    MEMBER_NO    NUMBER(10) NOT NULL,
    MODY_DATE    DATE,
    DELETE_DATE    DATE
);

COMMENT ON COLUMN TBL_NOTICE.POST_CODE IS '게시글 코드';

COMMENT ON COLUMN TBL_NOTICE.POST_TITLE IS '게시글 제목';

COMMENT ON COLUMN TBL_NOTICE.POST_CONTENT IS '게시글 내용';

COMMENT ON COLUMN TBL_NOTICE.REPORT_DATE IS '작성 시간';

COMMENT ON COLUMN TBL_NOTICE.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_NOTICE.MODY_DATE IS '수정 시간';

COMMENT ON COLUMN TBL_NOTICE.DELETE_DATE IS '삭제 시간';

COMMENT ON TABLE TBL_NOTICE IS '공지사항';

ALTER TABLE TBL_NOTICE
 ADD CONSTRAINT PK_TBL_NOTICE PRIMARY KEY ( POST_CODE )
 USING INDEX PK_TBL_NOTICE;


DROP TABLE TBL_ORDER;

CREATE TABLE TBL_ORDER
(
    ORD_CODE    NUMBER(10) NOT NULL,
    ORD_DATE    DATE NOT NULL,
    ORD_PRICE    NUMBER(8) NOT NULL,
    MEMBER_NO    NUMBER(10) NOT NULL,
    ORD_TOTAL_COUNT    NUMBER(3) NOT NULL
);

COMMENT ON COLUMN TBL_ORDER.ORD_CODE IS '주문코드';

COMMENT ON COLUMN TBL_ORDER.ORD_DATE IS '주문 시간';

COMMENT ON COLUMN TBL_ORDER.ORD_PRICE IS '총 주문 금액';

COMMENT ON COLUMN TBL_ORDER.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_ORDER.ORD_TOTAL_COUNT IS '총 주문 수량';

COMMENT ON TABLE TBL_ORDER IS '주문';

ALTER TABLE TBL_ORDER
 ADD CONSTRAINT PK_TBL_ORDER PRIMARY KEY ( ORD_CODE )
 USING INDEX PK_TBL_ORDER;


DROP TABLE TBL_ORDER_DETAIL;

CREATE TABLE TBL_ORDER_DETAIL
(
    ORD_COUNT    NUMBER(3) NOT NULL,
    PRD_CODE    NUMBER(10) NOT NULL,
    ORD_CODE    NUMBER(10) NOT NULL
);

COMMENT ON COLUMN TBL_ORDER_DETAIL.ORD_COUNT IS '주문 수량';

COMMENT ON COLUMN TBL_ORDER_DETAIL.PRD_CODE IS '상품 코드';

COMMENT ON COLUMN TBL_ORDER_DETAIL.ORD_CODE IS '주문코드';

COMMENT ON TABLE TBL_ORDER_DETAIL IS '주문상세';

ALTER TABLE TBL_ORDER_DETAIL
 ADD CONSTRAINT PK_TBL_ORDER_DETAIL PRIMARY KEY ( PRD_CODE,ORD_CODE )
 USING INDEX PK_TBL_ORDER_DETAIL;


DROP TABLE TBL_PAYMENT;

CREATE TABLE TBL_PAYMENT
(
    PAY_CODE    NUMBER(10) NOT NULL,
    PAY_DATE    DATE NOT NULL,
    PAY_AMOUNT    NUMBER(8) NOT NULL,
    PAY_STATUS    CHAR(1) NOT NULL,
    ORD_CODE    NUMBER(10) NOT NULL
);

COMMENT ON COLUMN TBL_PAYMENT.PAY_CODE IS '결제코드';

COMMENT ON COLUMN TBL_PAYMENT.PAY_DATE IS '결제 일자';

COMMENT ON COLUMN TBL_PAYMENT.PAY_AMOUNT IS '결제 금액';

COMMENT ON COLUMN TBL_PAYMENT.PAY_STATUS IS '처리 상태';

COMMENT ON COLUMN TBL_PAYMENT.ORD_CODE IS '주문코드';

COMMENT ON TABLE TBL_PAYMENT IS '결제';

ALTER TABLE TBL_PAYMENT
 ADD CONSTRAINT PK_TBL_PAYMENT PRIMARY KEY ( PAY_CODE )
 USING INDEX PK_TBL_PAYMENT;


DROP TABLE TBL_PRD_ALLERGY;

CREATE TABLE TBL_PRD_ALLERGY
(
    ALLERGY_CODE    NUMBER(3) NOT NULL,
    PRD_CODE    NUMBER(10) NOT NULL
);

COMMENT ON COLUMN TBL_PRD_ALLERGY.ALLERGY_CODE IS '알러지 코드';

COMMENT ON COLUMN TBL_PRD_ALLERGY.PRD_CODE IS '상품 코드';

COMMENT ON TABLE TBL_PRD_ALLERGY IS '상품별 알러지';

ALTER TABLE TBL_PRD_ALLERGY
 ADD CONSTRAINT PK_TBL_PRD_ALLERGY PRIMARY KEY ( ALLERGY_CODE,PRD_CODE )
 USING INDEX PK_TBL_PRD_ALLERGY;


DROP TABLE TBL_PRD_REVIEW;

CREATE TABLE TBL_PRD_REVIEW
(
    REV_CODE    NUMBER(10) NOT NULL,
    CONSUMER_INFO    NUMBER(10) NOT NULL,
    REV_CONTENT    VARCHAR2(4000) NOT NULL,
    MODY_DATE    DATE,
    DELETE_DATE    DATE,
    REPORT_DATE    DATE NOT NULL,
    REV_STATUS    VARCHAR2(100) NOT NULL,
    MODY_HISTORY    VARCHAR2(4000)
);

COMMENT ON COLUMN TBL_PRD_REVIEW.REV_CODE IS '리뷰코드';

COMMENT ON COLUMN TBL_PRD_REVIEW.CONSUMER_INFO IS '구매자정보';

COMMENT ON COLUMN TBL_PRD_REVIEW.REV_CONTENT IS '내용';

COMMENT ON COLUMN TBL_PRD_REVIEW.MODY_DATE IS '수정시간';

COMMENT ON COLUMN TBL_PRD_REVIEW.DELETE_DATE IS '삭제시간';

COMMENT ON COLUMN TBL_PRD_REVIEW.REPORT_DATE IS '작성시간';

COMMENT ON COLUMN TBL_PRD_REVIEW.REV_STATUS IS '상태';

COMMENT ON COLUMN TBL_PRD_REVIEW.MODY_HISTORY IS '수정내역';

COMMENT ON TABLE TBL_PRD_REVIEW IS '상품 리뷰';

ALTER TABLE TBL_PRD_REVIEW
 ADD CONSTRAINT PK_TBL_PRD_REVIEW PRIMARY KEY ( REV_CODE )
 USING INDEX PK_TBL_PRD_REVIEW;


DROP TABLE TBL_PRODUCT;

CREATE TABLE TBL_PRODUCT
(
    PRD_CODE    NUMBER(10) NOT NULL,
    PRD_NAME    VARCHAR2(20) NOT NULL,
    PRD_PRICE    NUMBER(10) NOT NULL,
    PRD_QUAN    NUMBER(10) NOT NULL,
    CATEGORY_CODE    NUMBER(3) NOT NULL,
    PRD_STATUS    VARCHAR2(10) NOT NULL,
    PRD_REGIST_DATE    DATE,
    PRD_MODI_DATE    DATE
);

COMMENT ON COLUMN TBL_PRODUCT.PRD_CODE IS '상품 코드';

COMMENT ON COLUMN TBL_PRODUCT.PRD_NAME IS '이름';

COMMENT ON COLUMN TBL_PRODUCT.PRD_PRICE IS '가격';

COMMENT ON COLUMN TBL_PRODUCT.PRD_QUAN IS '재고';

COMMENT ON COLUMN TBL_PRODUCT.CATEGORY_CODE IS '카테고리 코드';

COMMENT ON COLUMN TBL_PRODUCT.PRD_STATUS IS '상태';

COMMENT ON COLUMN TBL_PRODUCT.PRD_REGIST_DATE IS '등록일';

COMMENT ON COLUMN TBL_PRODUCT.PRD_MODI_DATE IS '수정일';

COMMENT ON TABLE TBL_PRODUCT IS '상품';

ALTER TABLE TBL_PRODUCT
 ADD CONSTRAINT PK_TBL_PRODUCT PRIMARY KEY ( PRD_CODE )
 USING INDEX PK_TBL_PRODUCT;


DROP TABLE TBL_QNA;

CREATE TABLE TBL_QNA
(
    INQ_CODE    NUMBER(10) NOT NULL,
    INQ_TYPE    VARCHAR2(20) NOT NULL,
    OCCUR_DATE    DATE,
    INQ_TITLE    VARCHAR2(50) NOT NULL,
    INQ_CONTENT    VARCHAR2(4000) NOT NULL,
    ANS_CONTENT    VARCHAR2(4000),
    PRD_CODE    NUMBER(10),
    MEMBER_NO    NUMBER(10),
    INQ_NO    NUMBER(10) NOT NULL,
    REPORT_DATE    DATE NOT NULL,
    ANS_DATE    DATE,
    INQ_MODY_DATE    DATE,
    ANS_MODY_DATE    DATE
);

COMMENT ON COLUMN TBL_QNA.INQ_CODE IS '문의 코드';

COMMENT ON COLUMN TBL_QNA.INQ_TYPE IS '문의 유형';

COMMENT ON COLUMN TBL_QNA.OCCUR_DATE IS '발생 시간';

COMMENT ON COLUMN TBL_QNA.INQ_TITLE IS '문의 제목';

COMMENT ON COLUMN TBL_QNA.INQ_CONTENT IS '문의 내용';

COMMENT ON COLUMN TBL_QNA.ANS_CONTENT IS '답변 내용';

COMMENT ON COLUMN TBL_QNA.PRD_CODE IS '상품 코드';

COMMENT ON COLUMN TBL_QNA.MEMBER_NO IS '답변자';

COMMENT ON COLUMN TBL_QNA.INQ_NO IS '문의자';

COMMENT ON COLUMN TBL_QNA.REPORT_DATE IS '문의작성시간';

COMMENT ON COLUMN TBL_QNA.ANS_DATE IS '답변작성시간';

COMMENT ON COLUMN TBL_QNA.INQ_MODY_DATE IS '문의수정시간';

COMMENT ON COLUMN TBL_QNA.ANS_MODY_DATE IS '답변수정시간';

COMMENT ON TABLE TBL_QNA IS '1:1 문의';

ALTER TABLE TBL_QNA
 ADD CONSTRAINT PK_TBL_QNA PRIMARY KEY ( INQ_CODE )
 USING INDEX PK_TBL_QNA;


DROP TABLE TBL_REFUND;

CREATE TABLE TBL_REFUND
(
    REF_CODE    VARCHAR2(20) NOT NULL,
    PAY_CODE    NUMBER(10) NOT NULL,
    REF_DATE    DATE NOT NULL,
    REF_AMOUNT    NUMBER(8) NOT NULL,
    REF_REASON    VARCHAR2(200) NOT NULL,
    REF_DETAIL_REASON    VARCHAR2(4000) NOT NULL,
    REF_COMPLETION_DATE    DATE NOT NULL
);

COMMENT ON COLUMN TBL_REFUND.REF_CODE IS '환불 코드';

COMMENT ON COLUMN TBL_REFUND.PAY_CODE IS '결제코드';

COMMENT ON COLUMN TBL_REFUND.REF_DATE IS '접수 일자';

COMMENT ON COLUMN TBL_REFUND.REF_AMOUNT IS '환불 금액';

COMMENT ON COLUMN TBL_REFUND.REF_REASON IS '환불 사유';

COMMENT ON COLUMN TBL_REFUND.REF_DETAIL_REASON IS '환불 상세 사유';

COMMENT ON COLUMN TBL_REFUND.REF_COMPLETION_DATE IS '처리 일자';

COMMENT ON TABLE TBL_REFUND IS '환불';

ALTER TABLE TBL_REFUND
 ADD CONSTRAINT PK_TBL_REFUND PRIMARY KEY ( REF_CODE )
 USING INDEX PK_TBL_REFUND;


DROP TABLE TBL_REPLY;

CREATE TABLE TBL_REPLY
(
    POST_CODE    NUMBER(10) NOT NULL,
    REPLY_CONTENT    VARCHAR2(4000) NOT NULL,
    REPORT_DATE    DATE NOT NULL,
    MEMBER_NO    NUMBER(10) NOT NULL,
    MODY_DATE    DATE,
    DELETE_DATE    DATE
);

COMMENT ON COLUMN TBL_REPLY.POST_CODE IS '게시글 코드';

COMMENT ON COLUMN TBL_REPLY.REPLY_CONTENT IS '댓글 내용';

COMMENT ON COLUMN TBL_REPLY.REPORT_DATE IS '작성 일시';

COMMENT ON COLUMN TBL_REPLY.MEMBER_NO IS '회원 코드';

COMMENT ON COLUMN TBL_REPLY.MODY_DATE IS '수정시간';

COMMENT ON COLUMN TBL_REPLY.DELETE_DATE IS '삭제시간';

COMMENT ON TABLE TBL_REPLY IS '댓글';

ALTER TABLE TBL_REPLY
 ADD CONSTRAINT PK_TBL_REPLY PRIMARY KEY ( POST_CODE )
 USING INDEX PK_TBL_REPLY;