<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/resource/static/js/order.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script>
        const message = '[[${message}]]';
	    message && alert(message);
    </script> -->
</head>
<body>
    <div th:replace="common/header.html"></div>
    <section>
        <p class="tableheader">주문서<hr></p>
        <table id="order-list">
            <tbody>
                <tr>
                    <td><img src="/images/product/001.png" alt="상품1"></td>
                    <td>[엄마손] 떡튀순 세트</td>
                    <td>2개</td>
                    <td>10,000원</td>
                    <td>20,000원</td>      
                </tr>
                <tr>
                    <td><img src="/images/product/002.png" alt="상품2"></td>
                    <td>멍게비빔밥</td>
                    <td>1개</td>
                    <td>15,000원</td>
                    <td>15,000원</td>
                </tr>
                <tr>
                    <td><img src="/images/product/003.png" alt="상품3"></td>
                    <td>장어덮밥과 군만두</td>
                    <td>3개</td>
                    <td>20,000원</td>
                    <td>60,000원</td>
                </tr>
            </tbody>
        </table>
        <table id="total">
            <tr>
                <td>TOTAL</td>
                <td id="total-price"></td>
                <!-- 출력안됨... -->
            </tr>
        </table>
    </section>
    <section>
        <form action="/order" method="POST">
            <div id="">
                <p class="tableheader">주문자 정보<hr></p>
                <table id="infomation-form">
                    <tr>
                        <td>수령자</td>
                        <td><input type="text" name="name" value="" required></td>
                    </tr>
                    <tr>
                        <td>핸드폰</td>
                        <td><input type="tel" name="phone" value="" required></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="email" name="email" value="" required></td>
                    </tr>
                </table>
                <p class="tableheader">배송 정보<hr></p>
                <form action="/delivery" method="POST">
                    <table id="delivery-form">
                        <!-- 기본값으로 주소 입력되도록 -->
                        <tr>
                            <td>받는분 주소</td>
                            <td><input type="text" name="address1" value="" required></td>
                            <td><input type="button" name="addressSearch" value="주소찾기"></button></td>
                        </tr>
                        <tr>
                            <td id="address-pad"></td>
                            <td><input type="text" name="address2"></td>
                        </tr>
                    </table>
                </form>
                <p class="tableheader">결제 정보<hr></p>
                <table class="payinfo">
                    <tr>
                        <td class="payhead">상품 금액</td>
                        <td>82,000원</td>
                    </tr>
                    <tr>
                        <td class="payhead">상품 할인 금액</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td class="payhead">배송비</td>
                        <td>0원</td>
                    </tr>
                    <tr id="total-pay">
                        <td class="payhead">최종 결제 금액</td>
                        <td>82,000원</td>
                    </tr>
                </table>
                <div>
                    <ul class="liblank">
                        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                    </ul>
                    <hr>
                    <div class="paymethod">
                        <span>결제수단 선택 </span> 
                        <button type="button" name="kakao">
                            <img src="/image/kakao.png" alt="kakao">
                        </button>
                        <button type="button" name="credit">
                            <img src="/image/카드결제 (1).png" alt="credit">
                        </button>
                    </div>
                    <p class="p-font-small">
                        ※ 결제하신 수단으로만 환불되는 점 유의하여 주시기 바랍니다. 
                    </p>
                    <p class="tableheader">개인정보 수집/제공<hr></p>
                    <div class="agree">
                        <input type="checkbox" name="agree_privacy_policy1" value="" required> 개인정보 수집·이용 및 처리 동의 
                        <a href="http://localhost:8080/order/policy" > (<span>보기</span>) </a><br>
                        <input type="checkbox" name="agree_privacy_policy2" value="" required> 전자지급 결제대행 서비스 이용약관 동의
                        <a href="http://localhost:8080/order/policy" target="_blank">(<span>보기</span>)</a><br>
                        <p>
                            위 내용을 확인하였으며 결제에 동의합니다. 
                        </p> 
                    </div>
                </div>
            </div>
            <input type="submit" class="btn-pay" value="${amount}원 결제하기">
        </form> 
    </section>
  

    <div th:replace="common/footer.html"></div>
</body>
</html>