<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI-MAIN-001</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div id="home" class="matcat">
        <header class="matcat-header">
        <h1><a class="matcat-logoname" href="UI-MAIN-001.html"><img src="/images/matcatLogo.png" width="80%"></a></h1>
        <nav>
            <ul class="header-nav">
                <li><a href="UI-MAIN-001.html">홈</a></li>
                <li><a href="">상품목록</a></li>
                <li><a href="고객센터.html">고객센터</a></li>
                <li><a href="마이페이지.html">마이페이지</a></li>
                <li><a href="검색.html">검색</a></li>
                <li><a href="로그인.html">로그인</a></li>
                <li><a href="장바구니.html">장바구니</a></li>
            </ul>
        </nav>
        </header> 
    </div>
    
</body>
</html>