#server config
server:
  port: 8001

# database config
spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: C##MATCAT
    password: MATCAT
  # file upload config
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      location: C:/semi/MATCAT
  mail:
    host: smtp.naver.com
    port: 465
    username: lkj9676@naver.com
    password: "!1rbwls909"
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true

# image upload directory config
image:
  image-dir: src/main/resources/upload/
# mybatis config
mybatis:
  mapper-locations: mappers/**/*.xml
