<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html,
      body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="w-[1440px] h-[1024px] relative overflow-hidden bg-[#fbf9f1]">
      <div class="w-[875px] h-[789px] absolute left-[283px] top-[81px]">
        <p
          class="absolute left-[342px] top-[51px] opacity-50 text-[40px] text-center text-black"
        >
          MATCAT
        </p>
        <img
          src="image-1.png"
          class="w-[150px] h-[150px] absolute left-[103px] top-[-1px] object-cover"
        />
        <div
          class="w-[875px] h-[619px] absolute left-[-1px] top-[169px] opacity-30 rounded-[5px] bg-[#d9d9d9]"
          style="box-shadow: 6px 10px 4px 0 rgba(0, 0, 0, 0.25);"
        ></div>
        <p
          class="absolute left-[124px] top-[400px] text-3xl text-center text-black"
        >
          전화번호
        </p>
        <p class="absolute left-[151px] top-80 text-3xl text-center text-black">
          이름
        </p>
        <svg
          width="407"
          height="35"
          viewBox="0 0 407 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-[284px] top-[400px]"
          preserveAspectRatio="none"
        >
          <path
            d="M0 5C0 2.23858 2.23858 0 5 0H402C404.761 0 407 2.23858 407 5V30C407 32.7614 404.761 35 402 35H4.99999C2.23857 35 0 32.7614 0 30V5Z"
            fill="#FBF9F1"
          ></path></svg
        ><svg
          width="407"
          height="35"
          viewBox="0 0 407 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-[284px] top-80"
          preserveAspectRatio="none"
        >
          <path
            d="M0 5C0 2.23858 2.23858 0 5 0H402C404.761 0 407 2.23858 407 5V30C407 32.7614 404.761 35 402 35H4.99999C2.23857 35 0 32.7614 0 30V5Z"
            fill="#FBF9F1"
          ></path>
        </svg>
        <div class="w-[407px] h-[35px]">
          <div
            class="w-[407px] h-[35px] absolute left-[219.85px] top-[572.85px] rounded-[5px] bg-[#2b7c1e]"
            style="box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);"
          ></div>
          <p
            class="absolute left-[366px] top-[578px] text-xl text-center text-black"
          >
            비밀번호 찾기
          </p>
        </div>
      </div>
      <p
        class="absolute left-[421px] top-[326px] text-3xl text-center text-black"
      >
        아이디
      </p>
      <svg
        width="407"
        height="35"
        viewBox="0 0 407 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-[567px] top-[326px]"
        preserveAspectRatio="none"
      >
        <path
          d="M0 5C0 2.23858 2.23858 0 5 0H402C404.761 0 407 2.23858 407 5V30C407 32.7614 404.761 35 402 35H4.99999C2.23857 35 0 32.7614 0 30V5Z"
          fill="#FBF9F1"
        ></path>
      </svg>
      <p
        class="absolute left-[421px] top-[561px] text-3xl text-center text-black"
      >
        이메일
      </p>
      <svg
        width="407"
        height="35"
        viewBox="0 0 407 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-[567px] top-[561px]"
        preserveAspectRatio="none"
      >
        <path
          d="M0 5C0 2.23858 2.23858 0 5 0H402C404.761 0 407 2.23858 407 5V30C407 32.7614 404.761 35 402 35H4.99999C2.23857 35 0 32.7614 0 30V5Z"
          fill="#FBF9F1"
        ></path>
      </svg>
    </div>
  </body>
</html>
