<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html,
      body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="w-[1440px] h-[1024px] relative overflow-hidden bg-[#fbf9f1]">
        <div
          class="w-[875px] h-[648px] absolute left-[264px] top-[247px] opacity-30 rounded-[5px] bg-[#d9d9d9]"
          style="box-shadow: 6px 10px 4px 0 rgba(0,0,0,0.25);"
        ></div>
        <p class="absolute left-[620px] top-[115px] opacity-50 text-[40px] text-center text-black">
          MATCAT
        </p>
        <img
          src="image-1.png"
          class="w-[150px] h-[150px] absolute left-[392px] top-[63px] rounded-[5px] object-cover"
        />
        <p class="w-[116px] h-[34px] absolute left-[644px] top-[264px] text-xl text-center text-black">
          회원가입
        </p>
        <div class="w-[497px] h-[34px]">
          <p class="w-[151px] h-[34px] absolute left-[454px] top-[298px] text-xl text-center text-black">
            약관동의
          </p>
          <p
            class="w-[151px] h-[34px] absolute left-[627px] top-[298px] text-xl text-center text-black/20"
          >
            <span class="w-[151px] h-[34px] text-xl text-center text-black/20"> 2. 정보입력</span>
          </p>
          <p
            class="w-[151px] h-[34px] absolute left-[800px] top-[298px] text-xl text-center text-black/20"
          >
            3.가입완료
          </p>
        </div>
        <p class="w-[185px] h-[35px] absolute left-[301px] top-[332px] text-xl text-left text-black">
          전체동의
        </p>
        <svg
          width="835"
          height="3"
          viewBox="0 0 835 3"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-[283px] top-[372px]"
          preserveAspectRatio="none"
        >
          <line y1="1.5" x2="835" y2="1.5" stroke="black" stroke-width="3"></line>
        </svg>
        <div class="w-[809px] h-[122px]">
          <pre>WIDGET not implemented</pre>
          <p class="w-[346px] h-[37px] absolute left-[347px] top-[400px] text-xl text-left text-black">
            이용약관 동의 (필수)
          </p>
          <div class="w-[809px] h-[85px] absolute left-[300.5px] top-[436.5px] bg-white"></div>
        </div>
        <div class="w-[809px] h-[122px]">
          <pre>WIDGET not implemented</pre>
          <p class="w-[346px] h-[37px] absolute left-[347px] top-[548px] text-xl text-left text-black">
            개인정보 처리 방침 (필수)
          </p>
          <div class="w-[809px] h-[85px] absolute left-[300.5px] top-[584.5px] bg-white"></div>
        </div>
        <div class="w-[809px] h-[122px]">
          <pre>WIDGET not implemented</pre>
          <p class="w-[346px] h-[37px] absolute left-[347px] top-[696px] text-xl text-left text-black">
            스팸 정책 (선택)
          </p>
          <div class="w-[809px] h-[85px] absolute left-[300.5px] top-[732.5px] bg-white"></div>
        </div>
        <div
          class="w-[199px] h-[37px] absolute left-[493px] top-[830px] rounded-[5px] bg-[#fffdfd]"
        ></div>
        <p class="w-[95px] h-[37px] absolute left-[546px] top-[831px] text-xl text-center text-black">
          취소
        </p>
        <div class="w-[199px] h-[37px]">
          <div
            class="w-[199px] h-[37px] absolute left-[705.5px] top-[828.5px] rounded-[5px] bg-[#2b7c1e]"
          ></div>
          <p class="w-[95px] h-[37px] absolute left-[758px] top-[829px] text-xl text-center text-black">
            다음
          </p>
        </div>
      </div>
  </body>
</html>
