#matcat {
    margin-left: 30%;
    width: 150px;
    height: 150px;
}

html {
    background-color: #FBF9F1;
}

body {
    width: 1440px;
    height: 1024px;
    background: #FBF9F1;
}

.regist_header {
    display: flex;
    margin-top: 80px;
}

.header_name {
    /*ㅎ ㅎㅎ*/
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-left: 658px;
    margin-top: 60px;
    color: #000000;
    opacity: 0.5;
}

.login-container {
    width: 875px;
    height: 619px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #f3f0f0;
    box-shadow: 6px 10px 4px 0 rgba(0,0,0,0.25);
    justify-content: center;
    flex-direction: column-reverse;
}

.text {
    padding-right: 50px;
    font-size: 1.25rem;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
}

#findPWD {
    display: flex;
    align-items: center;
    padding: 20% 10% 5% 10%;
    justify-content: center;
    flex-direction: column-reverse;
}


tr td {
    display: flex;
    padding-left: 100px;
    padding-bottom: 20px;
    justify-content: center;
}

.nameInsert {
    width: 400px;
    height: 35px;
}

.Phone {
    width: 400px;
    height: 35px;
}

.Email {
    width: 400px;
    height: 35px;
}

#findMyPWD {
    width: 407px;
    height: 35px;
    color: #000000;
    background-color: #2B7C1E;
    cursor: pointer;
    margin-left: 27px;
    margin-top: 40px;
    border: 0px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

input {
    font-size: 20px;
}