#sideBar {
	
	margin-right: 95%;
	background-color: #FBF9F1;
	margin-top: 5%;
	
}
#footer1{
	background-color: #FBF9F1;
}

#content{
	margin-top: -7%;
}

#wrapper{
	
}

#page-top{
	background-color: #FBF9F1;
}
