#matcat {
    margin-left: 30%;
    width: 150px;
    height: 150px;
}

html {
    background-color: #FBF9F1;
}

body {
    width: 1440px;
    height: 1024px;
    background: #FBF9F1;
}

.regist_header {
    display: flex;
    margin-top: 80px;
}

.header_name {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-left: 658px;
    margin-top: 60px;
    color: #000000;
    opacity: 0.5;
}

.login-container {
    width: 875px;
    height: 619px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #f3f0f0;
    box-shadow: 6px 10px 4px 0 rgba(0,0,0,0.25);
    justify-content: center;
    flex-direction: column-reverse;
}

.text {
    font-size: 30px;
    padding-right: 50px;
    margin-bottom: 25px;
}

#loginForm {
     display: flex;
     align-items: center;
     padding: 20% 10% 5% 10%;
     justify-content: center;
     flex-direction: column-reverse;
 }

.IDinsert {
    width: 407px;
    height: 35px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.PWDinsert {
    width: 407px;
    height: 35px;
    font-size: 1.5rem;
}

.insertid{
    padding-bottom: 25px;
}

.btns button{
    width: 118px;
    height: 35px;
    color: #000000;
    background-color: #2B7C1E;
    cursor: pointer;
    margin-left: 27px;
    margin-top: 40px;
    border: solid 1px;
    border-radius: 10px;
    font-size: 1rem;
}

#regist{
    margin-left: 0px;
}

#loginSubmit {
    font-size: 1.5rem;
    background-color: #2B7C1E;
    width: 420px;
    height: 35px;
    padding: 0;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 10px;
}

#centerplz {
    display: flex;
    align-items: center;
    padding: 10% 10% 5% 10%;
    justify-content: center;
}

input {
    font-size: 20px;
}
