@charset "UTF-8";

/* 구글 웹폰트 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}



/* MATCAT 기본 배경 색*/
html {
    background-color: #FBF9F1;
    text-align: center;
    
}
/* MATCAT로고 색상*/
#matcat-logoname { 
    width: 80%; 
}


/* -----------------------------헤더-----------------------------*/
/* 맨위에 헤더  */
#matcat-header {
    width:90%;
    margin-left: 5%;
    margin-top : 1%;
    display: flex;
    justify-content: space-between;
}
/* 헤더 flex와 정렬 및 등등*/
#header-nav {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin-top : 3%;
    margin-right: 130px;
}
/* 헤더 안에 li설정 ex.홈 상품목록 마이페이지 등등*/
#header-nav li {
    
    margin-right: 100px;
    margin-top: 10px;
}
/* 마우스오버시 색상 변경*/
#header-nav a:hover {
    color: darkgrey;
}
/* <a> 밑에 있는 링크 밑줄 제거 */
a {
    text-decoration: none;
    color: black;
}

/* 상품목록 */



/* 검색창 길이 */
#search-txt {
    width: 150px;
}

/* 장바구니 로그인옆에 붙임*/
#jangi {
    margin-left: -100px;
}

/*-------------------------------body-------------------------------*/

/* 메인페이지 사진*/
#mainjpg {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


/* fixed기능 서브메뉴*/
#submenu-fixed {
    font-weight: bold;
    width: 125px;
    height: 180px;
    position: fixed;
    box-shadow: 0px 5px 3px 3px rgb(156, 156, 156);
    border-radius: 20%;
    align-items: center;
    text-align: center;
    left: 83%;
    top: 200px;
}

/* 추천메뉴 전체 틀 */
#body-bestmenu {
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
    
}
/* 추천메뉴 사진이랑 옵션들 전체 툴*/
#bestmenu-picture {
    
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 8%;
    font-size: 10px;
    
}
/* 사진이랑 옵션 각각의 상세 툴*/
#picture {
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
/* 바로구매 / 카트에 추가하기 버튼 */
#btn a{
    font-size: 10px;
    color: white;
    background-color: #2B7C1E;
    padding: 7px 15px;
    border-radius: 15px;
   
  }


  
/* 가장많이팔리제품 전체 툴 */
#body-manysellmenu {
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
    
}
/* 가장많이팔리제품 사진이랑 옵션들 전체 툴*/
#manysellmenu-picture {
    
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 8%;
    font-size: 10px;
    
}
/* -------------------------footer--------------------------------*/
/* footer부분*/
#wrapper {
    max-width: 1100px;
    text-align: center;
    margin : 0 auto;
    padding : 0 4%;
}

footer {
    
    background-color:#2B7C1E;
    text-align: center;
    margin-top: 60px;
    padding : 20px 0;
}

footer p {
    color : white;
}



/* 검색 페이지 */

#searchfont {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B7C1E;
    padding: 30px 20px;
    border-radius: 10px;
    
}

#searchfont a{
    color: white;
    font-size: 2rem;
    
}

#search-txt2 {
    
    margin-top: 20px;
    width: 60%;
    height: 35px;
}


#countmenu {
    width:72%;
    margin-left: 17%;
    display: flex;
    justify-content: space-between;
}

#menuoption {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin-top : 2%;
    margin-right: 130px;
}
#menuoption li {
    margin-right: 20px;
    
}

#hr {
    border-style:double;
    margin-top: 20px;
    width: 62%;
    margin-left: 19%;
}

/* ------------------ 고객센터 부분 - 규진 -------------------- */

html {
    background-color: #FBF9F1;
}
#html{
    background-color: #FBF9F1;
    width: 100%;
    height: 50px;
}

#help01{
    background-color: white;
    margin-top: 20%;
    margin-bottom: 70%;
    margin-right: 30%;
    margin-left: 30%;
    width: 50%;
    height: 50%;
}
#help01table{
    width: 100%;
    text-align: center;
    border-radius: 20;
}

#helphead{
    background-color: darkgreen;
    width: 101%;
    height: 80px;
}
.containerkj{
    width: 100%;
}

#allthing{

    height: 500px;
}
/* 나중에 margin값 말고 center로 보내는 법 알아내야함; */
#searchBox{

    margin-left: 40%;
}
#arrow{

    margin-left: 40%;
}
/* ------------------------------------------------- */

#userhelp1{
    margin-right: 1%;
}

#button1{
    margin-left: 45%;
}

#updatebtn{
    margin-left: 85%;
}

#deletebtn{
    margin-left: 1%;
}

#removeReplbtn{

    margin-left: 90%;
}

#registReply{


    background-color: rgba(72, 162, 77, 0.495);

    color: white;

    
}
/* ---------------------- 여기까지 규진 -------------------- */